.error {
  color: red;
}

/* Set up styles for the spans */
.head span {
  display: inline-block; /* Make the spans display inline */
  width: 80px; /* Set the width of each span to 80px */
  height: 28px; /* Set the height of each span to 28px */
  line-height: 28px; /* Set the line height to vertically center text */
  text-align: center; /* Set the text to horizontally center */
  font-size: 16px; /* Set the font size to 28px */
  color: white; /* Set the text color to white */
  text-decoration: none; /* Remove the underline from the text */
  background-color: red; /* Set the background color to red */
  margin: 0; /* Remove any margin */
  padding: 0; /* Remove any padding */
}

/* Center the spans within their head */
.head {
  text-align: center;
}

/* Add a hover effect to the links */
span:hover {
  opacity: 0.8;
}

/* Set up the links */
a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

p {
  text-align: center; /* 水平居中 */
  font-weight: bold; /* 加粗字体 */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#vis,
#vis2,
#vis1 {
  margin: 0 auto;
}
